In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.linear_model import Ridge, LinearRegression, Lasso
from sklearn.metrics import mean_squared_error , r2_score, mean_absolute_error
from sklearn.linear_model import LassoCV
from sklearn.ensemble import RandomForestRegressor
from xgboost import XGBRegressor

In [2]:
df = pd.read_csv("courses.csv")

In [3]:
df.head()

,course_id,course_title,url,price,num_subscribers,num_reviews,num_lectures,level,Rating,content_duration,published_timestamp,subject
0,41295.0,Learn HTML5 Programming From Scratch,https://www.udemy.com/learn-html5-programming-...,0.0,268923.0,8629.0,45.0,Beginner Level,0.82,10.5,2013-02-14T07:03:41Z,Subject: Web Development
1,59014.0,Coding for Entrepreneurs Basic,https://www.udemy.com/coding-for-entrepreneurs...,0.0,161029.0,279.0,27.0,Expert Level,0.69,3.5,2013-06-09T15:51:55Z,Subject: Web Development
2,625204.0,The Web Developer Bootcamp,https://www.udemy.com/the-web-developer-bootcamp/,200.0,121584.0,27445.0,342.0,Beginner Level,0.89,43.0,2015-11-02T21:13:27Z,Subject: Web Development
3,173548.0,Build Your First Website in 1 Week with HTML5 ...,https://www.udemy.com/build-your-first-website...,0.0,120291.0,5924.0,30.0,All Levels,0.78,3.0,2014-04-08T16:21:30Z,Subject: Web Development
4,764164.0,The Complete Web Developer Course 2.0,https://www.udemy.com/the-complete-web-develop...,200.0,114512.0,22412.0,304.0,Beginner Level,0.55,30.5,2016-03-08T22:28:36Z,Subject: Web Development

In [4]:
np.sum(df.isna())

course_id              4
course_title           4
url                    4
price                  4
num_subscribers        4
num_reviews            4
num_lectures           4
level                  4
Rating                 4
content_duration       4
published_timestamp    4
subject                3
dtype: int64

In [5]:
df = df.dropna()

In [6]:
df.head()

,course_id,course_title,url,price,num_subscribers,num_reviews,num_lectures,level,Rating,content_duration,published_timestamp,subject
0,41295.0,Learn HTML5 Programming From Scratch,https://www.udemy.com/learn-html5-programming-...,0.0,268923.0,8629.0,45.0,Beginner Level,0.82,10.5,2013-02-14T07:03:41Z,Subject: Web Development
1,59014.0,Coding for Entrepreneurs Basic,https://www.udemy.com/coding-for-entrepreneurs...,0.0,161029.0,279.0,27.0,Expert Level,0.69,3.5,2013-06-09T15:51:55Z,Subject: Web Development
2,625204.0,The Web Developer Bootcamp,https://www.udemy.com/the-web-developer-bootcamp/,200.0,121584.0,27445.0,342.0,Beginner Level,0.89,43.0,2015-11-02T21:13:27Z,Subject: Web Development
3,173548.0,Build Your First Website in 1 Week with HTML5 ...,https://www.udemy.com/build-your-first-website...,0.0,120291.0,5924.0,30.0,All Levels,0.78,3.0,2014-04-08T16:21:30Z,Subject: Web Development
4,764164.0,The Complete Web Developer Course 2.0,https://www.udemy.com/the-complete-web-develop...,200.0,114512.0,22412.0,304.0,Beginner Level,0.55,30.5,2016-03-08T22:28:36Z,Subject: Web Development

In [7]:
df = df.drop(columns = ["course_id", "course_title", "url", "published_timestamp"])

In [8]:
df.head()

,price,num_subscribers,num_reviews,num_lectures,level,Rating,content_duration,subject
0,0.0,268923.0,8629.0,45.0,Beginner Level,0.82,10.5,Subject: Web Development
1,0.0,161029.0,279.0,27.0,Expert Level,0.69,3.5,Subject: Web Development
2,200.0,121584.0,27445.0,342.0,Beginner Level,0.89,43.0,Subject: Web Development
3,0.0,120291.0,5924.0,30.0,All Levels,0.78,3.0,Subject: Web Development
4,200.0,114512.0,22412.0,304.0,Beginner Level,0.55,30.5,Subject: Web Development

In [9]:
np.sum(df['level'].unique())

'Beginner LevelExpert LevelAll LevelsIntermediate Level'

In [10]:
df['level'].value_counts()

All Levels            1925
Beginner Level        1271
Intermediate Level     422
Expert Level            58
Name: level, dtype: int64

In [11]:
np.sum(df['level'].value_counts())

3676

In [12]:
df.corr()

,price,num_subscribers,num_reviews,num_lectures,Rating,content_duration
price,1.000000,0.050555,0.113423,0.330233,0.031643,0.293245
num_subscribers,0.050555,1.000000,0.650761,0.158092,-0.007353,0.161844
num_reviews,0.113423,0.650761,1.000000,0.242986,0.004137,0.228842
num_lectures,0.330233,0.158092,0.242986,1.000000,-0.037170,0.801630
Rating,0.031643,-0.007353,0.004137,-0.037170,1.000000,0.000650
content_duration,0.293245,0.161844,0.228842,0.801630,0.000650,1.000000

In [13]:
df_encoded = pd.get_dummies(df, columns=['level'], prefix='level')

In [14]:
df_encoded

,price,num_subscribers,num_reviews,num_lectures,Rating,content_duration,subject,level_All Levels,level_Beginner Level,level_Expert Level,level_Intermediate Level
0,0.0,268923.0,8629.0,45.0,0.82,10.500000,Subject: Web Development,0,1,0,0
1,0.0,161029.0,279.0,27.0,0.69,3.500000,Subject: Web Development,0,0,1,0
2,200.0,121584.0,27445.0,342.0,0.89,43.000000,Subject: Web Development,0,1,0,0
3,0.0,120291.0,5924.0,30.0,0.78,3.000000,Subject: Web Development,1,0,0,0
4,200.0,114512.0,22412.0,304.0,0.55,30.500000,Subject: Web Development,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...
3675,20.0,0.0,0.0,23.0,0.31,1.500000,Musical Instruments,1,0,0,0
3676,125.0,0.0,0.0,7.0,0.06,0.633333,Musical Instruments,0,1,0,0
3677,20.0,0.0,0.0,6.0,0.08,0.533333,Musical Instruments,1,0,0,0
3678,35.0,0.0,0.0,13.0,0.78,0.516667,Musical Instruments,0,1,0,0
3679,20.0,0.0,0.0,28.0,0.01,2.500000,Musical Instruments,1,0,0,0

In [15]:
df['subject'].unique()

array(['Subject: Web Development', 'Business Finance', 'Graphic Design',
       'Musical Instruments'], dtype=object)

In [16]:
np.sum(df['level'].unique())

'Beginner LevelExpert LevelAll LevelsIntermediate Level'

In [17]:
df['subject'].value_counts()

Subject: Web Development    1203
Business Finance            1191
Musical Instruments          680
Graphic Design               602
Name: subject, dtype: int64

In [18]:
df_encoded = pd.get_dummies(df_encoded, columns=['subject'], prefix='subject')

In [19]:
df_encoded

,price,num_subscribers,num_reviews,num_lectures,Rating,content_duration,level_All Levels,level_Beginner Level,level_Expert Level,level_Intermediate Level,subject_Business Finance,subject_Graphic Design,subject_Musical Instruments,subject_Subject: Web Development
0,0.0,268923.0,8629.0,45.0,0.82,10.500000,0,1,0,0,0,0,0,1
1,0.0,161029.0,279.0,27.0,0.69,3.500000,0,0,1,0,0,0,0,1
2,200.0,121584.0,27445.0,342.0,0.89,43.000000,0,1,0,0,0,0,0,1
3,0.0,120291.0,5924.0,30.0,0.78,3.000000,1,0,0,0,0,0,0,1
4,200.0,114512.0,22412.0,304.0,0.55,30.500000,0,1,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3675,20.0,0.0,0.0,23.0,0.31,1.500000,1,0,0,0,0,0,1,0
3676,125.0,0.0,0.0,7.0,0.06,0.633333,0,1,0,0,0,0,1,0
3677,20.0,0.0,0.0,6.0,0.08,0.533333,1,0,0,0,0,0,1,0
3678,35.0,0.0,0.0,13.0,0.78,0.516667,0,1,0,0,0,0,1,0
3679,20.0,0.0,0.0,28.0,0.01,2.500000,1,0,0,0,0,0,1,0

In [20]:
X = df_encoded.drop(columns=['Rating'])
y = df_encoded['Rating']

In [21]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Linear Regression

In [22]:
linear_model = LinearRegression()
linear_model.fit(X_train, y_train)

LinearRegression()

In [23]:
y_pred = linear_model.predict(X_test)

In [24]:
mse = mean_squared_error(y_test, y_pred)

In [25]:
mse

0.09070813365775134

In [26]:
r2 = r2_score(y_test, y_pred)

In [27]:
r2

0.17610871119739147

In [28]:
linear_coefficients = pd.DataFrame({'Feature': X.columns, 'Coefficient': linear_model.coef_})

In [29]:
linear_coefficients

                             Feature  Coefficient
0                              price    -0.000040
1                    num_subscribers    -0.000003
2                        num_reviews     0.000015
3                       num_lectures    -0.000008
4                   content_duration    -0.001096
5                   level_All Levels     0.008694
6               level_Beginner Level    -0.001984
7                 level_Expert Level    -0.022051
8           level_Intermediate Level     0.015341
9           subject_Business Finance     0.092220
10            subject_Graphic Design     0.130592
11       subject_Musical Instruments    -0.290835
12  subject_Subject: Web Development     0.068022

In [30]:
mae = mean_absolute_error(y_pred, y_test)

In [31]:
mae

0.2558348330661115

In [32]:
y_pred

array([ 0.29383228,  0.70104807,  0.30466831,  0.74018638,  0.70011075,
        0.64964779,  0.72733548,  0.7016515 ,  0.32256622,  0.66110548,
        0.72036306,  0.65541349,  0.69971595,  0.31946544,  0.30184826,
        0.31143401,  0.68480143,  0.63130558,  0.67602004,  0.58398094,
        0.6979931 ,  0.63071941,  0.65723088,  0.28945858,  0.30077836,
        0.30644344,  0.32238176,  0.687465  ,  0.67117833,  0.67227192,
        0.72541247,  0.64923275,  0.64569046,  0.67657231,  0.64521423,
        0.74076483,  0.69896062,  0.68840683,  0.69468679,  0.68841653,
        0.70210315,  0.3064428 ,  0.6975705 ,  0.64721856,  0.31898615,
        0.31803067,  0.72237755,  0.52489481,  0.73893922,  0.66967433,
        0.739176  ,  0.73103989,  0.74048285,  0.72283396,  0.7012017 ,
        0.69828491,  0.66653481,  0.65202932,  0.62986708,  0.64120726,
        0.66345286,  0.67298777,  0.69491957,  0.69785005,  0.29581761,
        0.608442  ,  0.64389981,  0.68271588,  0.67575701,  0.68829079,
        0.66527886,  0.74506857,  0.64720203,  0.74023447,  0.66232217,
        0.64998772,  0.66631928,  0.70223336,  0.74010616,  0.31663215,
        0.31958804,  0.73159542,  0.67117757,  0.64809482,  0.30673473,
        0.69578538,  0.31912114,  0.66254041,  0.67303702,  0.6520728 ,
        0.3074117 ,  0.62518655,  0.73730016,  0.66011856,  0.69026955,
        0.69489343,  0.69985705,  0.59356087,  0.67190355,  0.53250428,
        0.68627761,  0.70352894,  0.68443032,  0.73802612,  0.65255583,
        0.69074369,  0.65556858,  0.68352801,  0.70026562,  0.31825154,
        0.69532437,  0.30226052,  0.65227437,  0.32728674,  0.69557278,
        0.66010041,  0.66630169,  0.73760562,  0.30842018,  0.68500259,
        0.6767226 ,  0.72162303,  0.65871012,  0.63056476,  0.31224553,
        0.67508369,  0.28739642,  0.69315854,  0.30393387,  0.70344019,
        0.69418819,  0.73931533,  0.69174416,  0.73914184,  0.69238216,
        0.65540576,  0.58654569,  0.69267524,  0.64408717,  0.70132678,
        0.65515961,  0.62872901,  0.66318897,  0.74333957,  0.3080393 ,
        0.69229712,  0.31681307,  0.67934762,  0.73797755,  0.74169423,
        0.68896343,  0.31829303,  0.69377875,  0.74460183,  0.70666915,
        0.68494569,  0.69427164,  0.61877217,  0.65081088,  0.63464588,
        0.70788581,  0.65060094,  0.68541909,  0.68841877,  0.72591688,
        0.65058888,  0.63383682,  0.66833943,  0.68373907,  0.67325144,
        0.67008615,  0.69738992,  0.65525129,  0.68397356,  0.31928765,
        0.71045622,  0.73118503,  0.65344793,  0.67285914,  0.66381984,
        0.73116443,  0.661594  ,  0.70233361,  0.5335127 ,  0.65139271,
        0.65942429,  0.66361198,  0.67566231,  0.74003048,  0.65184614,
        0.64569902,  0.65664898,  0.69967254,  0.6995383 ,  0.66374784,
        0.65126746,  0.72264599,  0.6823822 ,  0.69998651,  0.70646616,
        0.74263069,  0.64248454,  0.73702269,  0.66706875,  0.31615773,
        0.66112641,  0.68530172,  0.70224048,  0.30732429,  0.68381996,
        0.30805223,  0.31842621,  0.66125152,  0.6568513 ,  0.32523972,
        0.6810456 ,  0.69457549,  0.7234237 ,  0.67064883,  0.66474504,
        0.72760712,  0.31256316,  0.31783438,  0.30830098,  0.59813842,
        0.66742487,  0.69263273,  0.73171051,  0.69424163,  0.74205431,
        0.70123843,  0.67267733,  0.7411876 ,  0.31312275,  0.67703385,
        0.73441969,  0.6324161 ,  0.67666421,  0.70918491,  0.69713336,
        0.68515253,  0.70864637,  0.6654116 ,  0.64573063,  0.31418516,
        0.31584661,  0.70231599,  0.69181953,  0.68976992,  0.30968852,
        0.73168187,  0.6835557 ,  0.66032624,  0.6450676 ,  0.69666356,
        0.65868161,  0.64052549,  0.30842996,  0.72529405,  0.30588483,
        0.69798084,  0.68877457,  0.7331727 ,  0.31850639,  0.31601894,
        0.64626616,  0.65287317,  0.67360908,  0.31302237,  0.30403704,
        0.70244563,  0.30920623,  0.65684128,  0.31597833,  0.62802275,
        0.73172378,  0.67497668,  0.73584911,  0.67293659,  0.70993595,
        0.73818711,  0.67351635,  0.74067414,  0.69700352,  0.6559012 ,
        0.70270985,  0.60185855,  0.71192197,  0.70119246,  0.6896665 ,
        0.70120115,  0.73706678,  0.6867279 ,  0.68810281,  0.72808144,
        0.67037077,  0.73975493,  0.68836755,  0.30538051,  0.67244148,
        0.66060985,  0.63862932,  0.31560659,  0.72993194,  0.67720075,
        0.74794714,  0.66510317,  0.65789514,  0.66424021,  0.31419323,
        0.70744677,  0.74090812,  0.59950209,  0.63306725,  0.72322754,
        0.68337575,  0.64152953,  0.674629  ,  0.66317579,  0.30926076,
        0.31192767,  0.70375251,  0.67393365,  0.67375651,  0.66982593,
        0.63829667,  0.66353463,  0.73418212,  0.29978212,  0.70355611,
        0.6745642 ,  0.62767018,  0.6362657 ,  0.69077185,  0.30097705,
        0.66014955,  0.68674181,  0.74103798,  0.67583168,  0.65956925,
        0.66429939,  0.6509446 ,  0.73926498,  0.69160256,  0.29980065,
        0.63351479,  0.68457133,  0.67057618,  0.51293054,  0.6693659 ,
        0.66200646,  0.31756813,  0.66095992,  0.29994993,  0.73589721,
        0.6980541 ,  0.69147747,  0.67964214,  0.60732667,  0.69034974,
        0.69061244,  0.63230967,  0.69948173,  0.30356286,  0.65750787,
        0.31771819,  0.69292905,  0.3266985 ,  0.68524884,  0.56173661,
        0.65061611,  0.65285749,  0.30432888,  0.73956549,  0.2825042 ,
        0.3014956 ,  0.30906916,  0.68286204,  0.32471705,  0.72063377,
        0.67887822,  0.65983357,  0.66848314,  0.30632428,  0.67146551,
        0.30837856,  0.68771568,  0.69252145,  0.31029324,  0.31840002,
        0.68454645,  0.69057894,  0.68618253,  0.63994294,  0.69389062,
        0.6962846 ,  0.65815052,  0.70353372,  0.72686526,  0.31782727,
        0.67418556,  0.68543352,  0.6422719 ,  0.66678549,  0.69160769,
        0.65727662,  0.70332393,  0.68902167,  0.69612586,  0.68306122,
        0.66787056,  0.62873186,  0.67404266,  0.62875388,  0.64105363,
        0.67332928,  0.73120663,  0.7236898 ,  0.6927469 ,  0.30110912,
        0.65700848,  0.59375041,  0.65364446,  0.65232806,  0.31174586,
        0.6375605 ,  0.65643466,  0.66659139,  0.73982487,  0.7266814 ,
        0.67688918,  0.70542981,  0.69187038,  0.70287414,  0.61945895,
        0.59604989,  0.69125487,  0.63598183,  0.69006875,  0.69335437,
        0.64822408,  0.67466749,  0.73566884,  0.65953838,  0.69425099,
        0.66115773,  0.65650115,  0.5593071 ,  0.72172634,  0.70112279,
        0.69598484,  0.73700942,  0.70354305,  0.72702004,  0.70605658,
        0.67519894,  0.31841131,  0.7455898 ,  0.66402137,  0.65716526,
        0.32219708,  0.73906455,  0.68836634,  0.72360941,  0.66539514,
        0.7280748 ,  0.72049673,  0.66816634,  0.70638481,  0.65966578,
        0.65317567,  0.31391199,  0.68816769,  0.73123512,  0.30824333,
        0.65208936,  0.72654885,  0.65370409,  0.61697937,  0.7301171 ,
        0.69214844,  0.68612802,  0.69769064,  0.68080523,  0.31548896,
        0.68863493,  0.3143343 ,  0.69994588,  0.6618249 ,  0.645184  ,
        0.3080101 ,  0.72266735,  0.66400369,  0.67646409,  0.66905253,
        0.31601159,  0.68270453,  0.3097042 ,  0.6725395 ,  0.67956384,
        0.67150616,  0.69749753,  0.69165465,  0.6514832 ,  0.66036841,
        0.63119967,  0.65095564,  0.7288997 ,  0.67559411,  0.67285063,
        0.73306737,  0.61705728,  0.67982183,  0.65380329,  0.3207682 ,
        0.68885947,  0.67702557,  0.31664698,  0.68067676,  0.70020011,
        0.3190475 ,  0.3185413 ,  0.63526513,  0.7219559 ,  0.6919369 ,
        0.64878696,  0.74081306,  0.69453962,  0.63240433,  0.72569338,
        0.65678604,  0.69161946,  0.65469588,  0.71014986,  0.31854318,
        0.30883752,  0.70737565,  0.66583558,  0.69169289,  0.68863117,
        0.69584023,  0.65145311,  0.31243853,  0.68183124,  0.31791636,
        0.65135524,  0.66645761,  0.67741121,  0.30821854,  0.30492991,
        0.70344335,  0.59506729,  0.69149656,  0.74174287,  0.64339883,
        0.71750947,  0.31843467,  0.67786773,  0.00884507,  0.66249866,
        0.6981746 ,  0.68941291,  0.67212689,  0.31586247,  0.31383494,
        0.67255576,  0.72707087,  0.29302765,  0.30832459,  0.3176019 ,
        0.3049599 ,  0.67377096,  0.69925573,  0.69845404,  0.14250621,
        0.73948753,  0.70185463,  0.65810617,  0.64443349,  0.73317603,
        0.65780451,  0.67099446,  0.62363674,  0.65585722,  0.73491015,
        0.63749237,  0.67250727,  0.68758533,  0.30321236,  0.67501649,
        0.63895319,  0.67108069,  0.30664457,  0.65270804,  0.61238129,
        0.62975236,  0.68291763,  0.3073415 ,  0.68866535,  0.31972344,
        0.67474514,  0.32206317,  0.29102233,  0.68030595,  0.69944831,
        0.66469587,  0.32344795,  0.7379082 ,  0.69462635,  0.70230204,
        0.67846322,  0.31408885,  0.65720822,  0.69645684, -0.07111483,
        0.70244973,  0.31881783,  0.27861386,  0.31592055,  0.66602748,
        0.65411021,  0.63034146,  0.70055251,  0.30814694,  0.64449497,
        0.68702007,  0.67640052,  0.63230967,  0.6503953 ,  0.64098036,
        0.32568885,  0.69700565,  0.29683628,  0.7034977 ,  0.70069089,
        0.65595589,  0.72727186,  0.61274615,  0.3183727 ,  0.68785884,
        0.67041154,  0.72936701,  0.66557826,  0.70109342,  0.68101166,
        0.7016844 ,  0.67289439,  0.70031497,  0.70057905,  0.67787595,
        0.73370662,  0.69230156,  0.64816576,  0.69019765,  0.6525959 ,
        0.3074821 ,  0.30907158,  0.73202801,  0.74899528,  0.67451288,
        0.66873363,  0.32101089,  0.30831644,  0.68707812,  0.68400573,
        0.32411677,  0.63562114,  0.69561018,  0.66037753,  0.70816753,
        0.30991017,  0.67424422,  0.30134484,  0.30623361,  0.31888016,
        0.31960476,  0.69636755,  0.73204256,  0.69170211,  0.32617898,
        0.31625496,  0.67250613,  0.68403726,  0.685116  ,  0.68740753,
        0.69091933,  0.66881614,  0.6607338 ,  0.69733867,  0.69074778,
        0.66603284,  0.6841838 ,  0.31811535,  0.684557  ,  0.65850008,
        0.74494359,  0.71916366,  0.72739331,  0.69305626,  0.73980428,
        0.72844609,  0.64338976,  0.30942078,  0.31213391,  0.70265557,
        0.74160389,  0.70144724,  0.67770318,  0.69140162,  0.65591947,
        0.65694814,  0.6820419 ,  0.65823223,  0.482105  ,  0.71870036,
        0.71984686,  0.69021415,  0.69861237,  0.73144264,  0.30223063,
        0.70124229,  0.31927382,  0.30937175,  0.31788155,  0.65141915,
        0.30831235,  0.31505825,  0.63135431,  0.57682334,  0.30368418,
        0.69638585,  0.65820145,  0.62656352,  0.31555274,  0.65748952,
        0.67308418])

In [33]:
y_test

3049    0.11
1746    0.55
3320    0.55
2758    0.98
1693    0.74
        ...
1428    0.76
25      0.34
3159    1.00
681     0.13
1001    0.18
Name: Rating, Length: 736, dtype: float64

# Lasso Regression

In [34]:
lasso_model = Lasso(alpha=0.1)
lasso_model.fit(X_train, y_train)

Lasso(alpha=0.1)

In [35]:
y_pred = lasso_model.predict(X_test)

In [36]:
mean_absolute_error(y_pred, y_test)

0.2967043163914568

In [37]:
r2_score(y_test, y_pred)

-0.0037406272830555753

In [38]:
mean_squared_error(y_test, y_pred)

0.11050904435417586

## Fine Tuning Lasso

In [39]:
alpha_values = [0.01, 0.1, 0.5, 1]

lasso = Lasso()

# parameter_grid = {'alpha': alpha_values}
lasso_cv = LassoCV(alphas=alpha_values , cv=5)
lasso_cv.fit(X_train, y_train)

LassoCV(alphas=[0.01, 0.1, 0.5, 1], cv=5)

In [40]:
best_alpha = lasso_cv.alpha_

In [41]:
best_alpha

0.01

In [42]:
lasso = Lasso(0.01)
lasso.fit(X_train, y_train)
y_pred = lasso.predict(X_test)

In [43]:
r2_score(y_test, y_pred)

0.16489662006971606

In [44]:
mean_absolute_error(y_pred, y_test)

0.262458549435358

In [45]:
mean_squared_error(y_test, y_pred)

0.0919425536284615

# Random Forest

In [46]:
rf = RandomForestRegressor()

In [47]:
rf.fit(X_train,y_train)

RandomForestRegressor()

In [48]:
y_pred = rf.predict(X_test)

In [49]:
mean_absolute_error(y_test, y_pred)

0.20118369565217395

In [50]:
mean_squared_error(y_test, y_pred)

0.06903745820760869

In [51]:
r2_score(y_test, y_pred)

0.3729409025993955

# XGBoost

In [52]:
xgb = XGBRegressor(n_estimators = 100, learning_rate = 0.3, max_depth = 5)

In [53]:
xgb.fit(X_train, y_train)

XGBRegressor(base_score=0.5, booster='gbtree', callbacks=None,
             colsample_bylevel=1, colsample_bynode=1, colsample_bytree=1,
             early_stopping_rounds=None, enable_categorical=False,
             eval_metric=None, gamma=0, gpu_id=-1, grow_policy='depthwise',
             importance_type=None, interaction_constraints='',
             learning_rate=0.3, max_bin=256, max_cat_to_onehot=4,
             max_delta_step=0, max_depth=5, max_leaves=0, min_child_weight=1,
             missing=nan, monotone_constraints='()', n_estimators=100, n_jobs=0,
             num_parallel_tree=1, predictor='auto', random_state=0, reg_alpha=0,
             reg_lambda=1, ...)

In [54]:
y_pred = xgb.predict(X_test)

In [55]:
mean_absolute_error(y_test, y_pred)

0.20285954018057648

In [56]:
mean_squared_error(y_test, y_pred)

0.0685636202117271

In [57]:
r2_score(y_test, y_pred)

0.3772447172780605

In [58]:

# Define the hyperparameter grid
param_grid = {
    'n_estimators': [100, 200, 300],  # You can adjust these values
    'learning_rate': [0.3, 0.2, 0.4],  # You can adjust these values
    'max_depth': [3, 4, 5]  # You can adjust these values
}

# Create the XGBoost regressor
xgb_model = XGBRegressor()

# Initialize GridSearchCV
grid_search = GridSearchCV(xgb_model, param_grid, cv=5 )

# Perform grid search on your training data
grid_search.fit(X_train, y_train)

# Get the best hyperparameter values
best_params = grid_search.best_params_
print("Best Hyperparameters:", best_params)

Best Hyperparameters: {'learning_rate': 0.2, 'max_depth': 5, 'n_estimators': 100}

In [59]:
best_xgb_model = grid_search.best_estimator_
y_pred = best_xgb_model.predict(X_test)

# Calculate evaluation metrics
mse = mean_squared_error(y_test, y_pred)
mae = mean_absolute_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print("Mean Squared Error:", mse)
print("Mean Absolute Error:", mae)
print("R-squared:", r2)

Mean Squared Error: 0.06997655767175814
Mean Absolute Error: 0.20510692367168223
R-squared: 0.36441117283170765